.header {
    background-color: #8eeef6;
}

.header__inner {
    margin: 0px auto;
    padding: 20px 15px;
    max-width: 1000px;
}

.header__logo {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}