.shopping-top {
    width: 1000px;
    height: 250px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.top-box {
    width: 33%;
    padding: 50px 20px;
    text-align: center;
}

.shopping-content {
    width: 1000px;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.content-box {
    width: 33%;
    padding: 10px 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}


.top-box__title-text {
    text-align: right;
}

.top-box__title-enter {
    width: 160px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ddd;

}

.top-box__select-box {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.top-box__register {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: #8eeef6;
    color: #fff;
    margin-top: 60px;
    border: none
}

.content-checkbox {
    width: 18px;
    height: 18px;
}

.content-text {
    width: 160px;
    height: 20px;
    border: none;
    text-align: right;
}

.content-box__item-title {
    font-weight: bold;
    font-size: 15px;
}

.content-box__button {
    display: flex;
}

.content-box__update-button {
    padding: 5px;
    width: 50%;
    border: none;
    border-radius: 5px;
    background-color: #0909bdbf;
    color: #fff;
    cursor: pointer;
    margin-right: 20px;
}


.content-box__delete-button {
    padding: 5px;
    width: 50%;
    border: none;
    border-radius: 5px;
    background: #eb3fa1ba;
    color: #fff;
    cursor: pointer;
}